/*body { padding-top: 70px; }*/

h1 {
    font-family: 'Roboto Slab', serif;
}
h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', sans-serif;
}
.body {
    font-family: 'Roboto Mono', monospace;
}
.header {
    margin-top: 1%;
}
.tgif-info {
    margin-bottom: 1%;
}
.texttgif {
    display: flex;
    align-items: flex-end;
}

.logo {
    width: 50%;
    height: 25%;
}
.img-div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-home {
    width: 100%;
}

.list-inline {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.mailinfo {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
footer div {
    text-align: center;
}
.table {
    width: 100%;
}
.table td {
    width: 20%;
    text-align: center;
}
.state {
    text-align: right;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.total {
    font-weight: bold;
}
.notification {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: crimson;
    border-radius: 25px;
    width: 100%;
    padding: 5% 0;
}
.footer {
    background-color: #f8f9fa;
}
.navbar {
    padding: 0;
    background-color: yellow;
    min-height: 10%;
    

}
.navbar a, .navbar h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar h2 {
    font-weight: bold;
    font-size: 1.2rem;
    
}
.list-inline {
    display: flex;
    justify-content: space-between;
}
.fixed-top {
    top:75px;
}
.on-loading{
        padding-top: 75px;
}
/*CSS Loader*/
.div-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 5%;
    height: 70vh;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}